<!DOCTYPE html>
<%#include "objects/election.h" %>
<% tfetch(QVariantMap, election); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Election</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>Name<br><input class="form-control" name="election[name]" value="<%= election["name"] %>" /></label>
  </p>
  <p>
    <label>Body<br><textarea class="form-control" name="election[body]" value="<%= election["body"] %>" ></textarea></label>
  </p>
  <p>
    <label>Quorum<br><input class="form-control" name="election[quorum]" value="<%= election["quorum"] %>" /></label>
  </p>
  <p>
    <label>Polling Open<br><input class="form-control" type="datetime-local" name="election[pollingOpen]" value="<%= election["pollingOpen"] %>" /></label>
  </p>
  <p>
    <label>Polling Close<br><input class="form-control" type="datetime-local" name="election[pollingClose]" value="<%= election["pollingClose"] %>" /></label>
  </p>
  <p>
    <input type="submit" class="btn btn-primary" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
