<!DOCTYPE html>
<%#include "objects/election.h" %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>

<h1>Listing Election</h1>

<%== linkTo("Create a new Election", urla("create")) %><br>
<br>
<div class="table-responsive">
 <table class="table table-bordered table-striped">
   <tr>
     <th>ID</th>
     <th>Name</th>
     <th>Body</th>
     <th>Quorum</th>
     <th>Polling Open</th>
     <th>Polling Close</th>
     <th>Result</th>
     <th>Actions</th>
   </tr>
   <% tfetch(QList<Election>, electionList); %>
   <% for (const auto &i : electionList) { %>
     <tr>
       <td><%= i.id() %></td>
       <td><%= i.name() %></td>
       <td><%= i.body() %></td>
       <td><%= i.quorum() %></td>
       <td><%= i.pollingOpen() %></td>
       <td><%= i.pollingClose() %></td>
       <td>
         <% if(i.winnerOptionId().isEmpty()) { %>
            TBD
         <% } else { %>
            linkTo("Show", url("Result", "show", i.id()))
         <% } %>
       </td>
       <td>
         <%== linkTo("Show", urla("show", i.id())) %>
         <%== linkTo("Edit", urla("save", i.id())) %>
         <%== linkTo("Remove", urla("remove", i.id()), Tf::Post, "confirm('Are you sure?')") %>
       </td>
     </tr>
   <% } %>
 </table>
</div>
</body>
</html>
