<!DOCTYPE html>
<%#include "objects/election.h" %>
<%#include "objects/option.h" %>
<% tfetch(QVariantMap, election); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Editing Election</h1>

<%== formTag(urla("save", election["id"]), Tf::Post) %>
  <p>
    <label>ID<br><input type="text" name="election[id]" value="<%= election["id"] %>" readonly="readonly" /></label>
  </p>
  <p>
    <label>Name<br><input type="text" name="election[name]" value="<%= election["name"] %>" ></label>
  </p>
  <p>
    <label>Body<br><textarea name="election[body]" value="<%= election["body"] %>" /></textarea></label>
  </p>
  <p>
    <label>Quorum<br><input type="text" name="election[quorum]" value="<%= election["quorum"] %>" /></label>
  </p>
  <p>
    <label>Polling Open<br><input type="text" name="election[pollingOpen]" value="<%= election["pollingOpen"] %>" /></label>
  </p>
  <p>
    <label>Polling Close<br><input type="text" name="election[pollingClose]" value="<%= election["pollingClose"] %>" /></label>
  </p>
  <p>
    <%== linkTo("Collapse Election?", url("Result", "create", election["id"]), Tf::Post, "confirm('Really generate results?')") %>
  </p>
  <dt>Options</dt>
  <dd>
    <%== linkTo("Create a new Option", url("Option", "create", election["id"])) %><br>
  <br>
  <table class="table table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Body</th>
        <th>Actions</th>
      </tr>
      <% tfetch(QList<Option>, optionList); %>
      <% for (const auto &i : optionList) { %>
        <tr>
          <td><%= i.id() %></td>
          <td><%= i.name() %></td>
          <td><%= i.body() %></td>
          <td>
            <%== linkTo("Show", url("Option", "show", i.id())) %>
            <%== linkTo("Edit", url("Option", "save", i.id())) %>
            <%== linkTo("Remove", url("Option", "remove", i.id()), Tf::Post, "confirm('Are you sure?')") %>
          </td>
        </tr>
      <% } %>
  </table>
  </dd><br>
  <p>
    <input type="submit" class="btn btn-primary" value="Save" />
  </p>
</form>

<%== linkTo("Show", urla("show", election["id"])) %> |
<%== linkTo("Back", urla("index")) %>
</body>
</html>
