<!DOCTYPE html>
<%#include "objects/election.h" %>
<%#include "objects/option.h" %>
<% tfetch(Election, election); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Showing Election</h1>
<dt>ID</dt><dd><%= election.id() %></dd><br>
<dt>Name</dt><dd><%= election.name() %></dd><br>
<dt>Body</dt><dd><%= election.body() %></dd><br>
<dt>Quorum</dt><dd><%= election.quorum() %></dd><br>
<dt>Polling Open</dt><dd><%= election.pollingOpen() %></dd><br>
<dt>Polling Close</dt><dd><%= election.pollingClose() %></dd><br>
<dt>Result</dt>
<dd>
  <% if(election.winnerOptionId().isEmpty()) { %>
     TBD
  <% } else { %>
     <%== linkTo("Show", url("Result", "show", election.id())) %>
  <% } %>
</dd>
<br>
<dt>Options</dt>  
<dd>
  <%== linkTo("Create a new Option", url("Option", "create")) %>
<br>
<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Body</th>
      <th>Actions</th>
    </tr>
    <% tfetch(QList<Option>, optionList); %>
    <% for (const auto &i : optionList) { %>
      <tr>
        <td><%= i.id() %></td>
        <td><%= i.name() %></td>
        <td><%= i.body() %></td>
        <td>
          <%== linkTo("Show", url("Option", "show", i.id())) %>
          <%== linkTo("Edit", url("Option", "save", i.id())) %>
          <%== linkTo("Remove", url("Option", "remove", i.id()), Tf::Post, "confirm('Are you sure?')") %>
        </td>
      </tr>
    <% } %>
  </table>
</div>
</dd><br>
<%== linkTo("Edit", urla("save", election.id())) %> |
<%== linkTo("Back", urla("index")) %>

</body>
</html>
