<!DOCTYPE html>
<%#include "objects/ballot.h" %>
<% tfetch(QVariantMap, ballot); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Ballot</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>Election ID<br><input name="ballot[electionId]" value="<%= ballot["electionId"] %>" /></label>
  </p>
  <p>
    <input type="submit" class="btn btn-primary" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
