<!DOCTYPE html>
<%#include "objects/ballot.h" %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>

<h1>Listing Ballot</h1>

<%== linkTo("Create a new Ballot", urla("create")) %><br>
<br>
<table class="table table-bordered table-striped">
  <tr>
    <th>ID</th>
    <th>Election ID</th>
    <th>Actions</th>
  </tr>
<% tfetch(QList<Ballot>, ballotList); %>
<% for (const auto &i : ballotList) { %>
  <tr>
    <td><%= i.id() %></td>
    <td><%= i.electionId() %></td>
    <td>
      <%== linkTo("Show", urla("show", i.id())) %>
      <%== linkTo("Edit", urla("save", i.id())) %>
      <%== linkTo("Remove", urla("remove", i.id()), Tf::Post, "confirm('Are you sure?')") %>
    </td>
  </tr>
<% } %>
</table>

</body>
</html>
