<!DOCTYPE html>
<%#include "objects/ballot.h" %>
<%#include "objects/ballotchoice.h" %>
<%#include "objects/option.h" %>
<% tfetch(Ballot, ballot); %>
<% tfetch(QList<QVariantMap>, choices); %>

<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Showing Ballot</h1>
<dt>ID</dt><dd><%= ballot.id() %></dd><br>
<dt>Election ID</dt><dd><%= ballot.electionId() %></dd><br>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Body</th>
      <th>Preference</th>
    </tr>
    <% for (const auto &i : choices) { %>
      <tr>
        <td><%= i["optionId"] %></td>
        <td><%= i["name"] %></td>
        <td><%= i["body"] %></td>
        <td><%= i["rank"] %></td>
      </tr>
    <% } %>
  </table>
</div>

<%== linkTo("Edit", urla("save", ballot.id())) %> |
<%== linkTo("Back", urla("index")) %>

</body>
</html>
