<!DOCTYPE html>
<%#include "objects/option.h" %>
<% tfetch(QVariantMap, option); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Editing Option</h1>

<%== formTag(urla("save", option["id"]), Tf::Post) %>
  <p>
    <label>ID<br><input type="text" name="option[id]" value="<%= option["id"] %>" readonly="readonly" /></label>
  </p>
  <p>
    <label>Name<br><input type="text" name="option[name]" value="<%= option["name"] %>" /></label>
  </p>
  <p>
    <label>Body<br><input type="text" name="option[body]" value="<%= option["body"] %>" /></label>
  </p>
  <p>
    <label>Election ID<br><input type="text" name="option[electionId]" value="<%= option["electionId"] %>" /></label>
  </p>
  <p>
    <input type="submit" class="btn btn-primary" value="Save" />
  </p>
</form>

<%== linkTo("Show", urla("show", option["id"])) %> |
<%== linkTo("Back", urla("index")) %>
</body>
</html>
